body {
  margin: 0 auto;

}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
